.App{
  background-color: #030e16;
}

.container{
  padding: 3em 4em;
  max-width: 1100px;
  margin: auto;
}

.total-details{
  line-height: 1.5;
  padding: .5em 0;
  margin: 0 0 1em 0;
}

span{
  color: hsl(0, 71%, 31%);
}

h1{
  font-size: 1.75rem;
}

h2{
  font-size: 1rem;
  margin: .25em 0;
}

.all-states-data{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.state-details{
  text-align: center;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  background-color: hsl(205, 72%, 7%);
}

.state{
  color: hsl(163, 72%, 41%);
}

.text{
  font-size: 1.2rem;
}

.confirmed{
  color: hsl(0, 71%, 31%);
}

.admission{
  color: hsl(228, 36%, 45%);
}

.discharged{
  color: hsl(0, 0%, 100%);
}

.deaths{
  color: hsl(59, 44%, 19%);
}

@media screen and (max-width: 750px){
  .all-states-data{
    grid-template-columns: 1fr 1fr;
  }
  h1{
    font-size: 1.5rem;
  }
}